body{
  background: #A9DDF9;
}
#main{
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1vw 8vw 8vw 8vw;
  margin: 0 8vw 8vw 8vw;
  place-items: center;
  Background: #FAFAFA;
  font-size: 3vw;
  border-radius: 5vw;
  box-shadow: 0 2vw 8vw;
}
h1{
  diplay: block;
  text-align: center;
  font-size: 5vw;
}
#description {
  text-align: center;
  font-size: 3.5vw;
}
textarea {
  width: 50vw;
  height: 15vw;
  font-size: inherit;
}
label {
  display: block; 
}
label {
  margin-bottom:2vw;
}
.space-it {
  display: block;
  margin-bottom: 2vw;
}
.field {
  width: 40vw;
  font-size: inherit;
}
.selection{
  width: 2vw;
  height: 2vw;
}
@media (min-width: 600px) {
  #main {
  
  margin: 0 18vw 8vw 18vw;
  font-size: 1.5vw;
  }
  .selection {
    width: 1vw;
  height: 1vw;
  }
  #description {
    font-size: 2.5vw;
  }
}